#expeditionReport, #expeditionReport td, #expeditionReport th {	
	border-collapse: collapse;
}

#expForm {
	width: 100%;
	float:left;
}

#expCreate {
	margin: auto;
	widows: 100%;
	text-align: center;
}

#expeditionReport {
	float:left;
	text-align: center;
	width: 30%;
	border-collapse: collapse;
	background-color: #c5a37d;
	border-radius: 25px;
}

#expeditionReport tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #987d5b;
}

#expeditionReport td, #expeditionReport th {	
	padding: 3px;
}

#expeditionHunter, #expeditionHunter td, #expeditionHunter th {	
	border-collapse: collapse;
}

#expeditionHunter {
	width: 30%;
	border-collapse: collapse;
	background-color: #c5a37d;
	border-radius: 25px;
	text-align: center;
	float: left;
	margin-left: 5%;
}

#expeditionHunter tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #987d5b;
}

#expeditionHunter td, #expeditionHunter th {	
	padding: 3px;
}

#pits, #pits td, #pits th {	
	border-collapse: collapse;
}

#pits tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #987d5b;
}

#pits {
	width: 30%;
	border-collapse: collapse;
	background-color: #c5a37d;
	border-radius: 25px;
	text-align: center;
	float: left;
	margin-left: 5%;
}

#pits td, #pits th {	
	padding: 3px;
}

#mammoths {
    float: left;
    width: 30%;
	background-color: #987d5b;
    border-radius: 25px;
}
.mammoth {
	float: left;
	width: 100%;
	text-align: center;
}

.mammoth img {
	float: left;
}

.mammoth p {
	width: 60%;
	float: right;
	margin:0;
	padding: 0;
	margin-right: 10px;
}

#hunters {
    float: right;
    width: 30%;	
	background-color: #987d5b;
    border-radius: 25px;
}

.hunter {
	width: 100%;
}

.hunter img {
	float:left;
}

.hunter div {
	width: 96%;
	height: 70px;
}
.hunterName {
	margin: 0;
	padding-top: 15px;
	float: right;
	text-align: center;
	width: 65%;
	height: 5px;
}
.hunterInfo {
	text-align: center;
	float: right;
	width: 65%;
	height: 20px;
}

#results {
	margin: auto;
	width: 28%;
	background-color: #987d5b;
    border-radius: 25px;
    padding: 1%;
    text-align: center;	
}

#results table {
    border-radius: 25px;

}

#results table, #results td {
	border-collapse: collapse;
}

#results tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #c5a37d;
}

h3 {
	margin: auto;
	text-align: center;
	padding: 5px;
}
