#expeditionReport, #expeditionReport td, #expeditionReport th {	
	border-collapse: collapse;
    border: 1px solid black;
}

#expeditionReport {
	float:left;
	text-align: center;
}

#expeditionReport td, #expeditionReport th {	
	padding: 3px;
}

#expeditionHunter, #expeditionHunter td, #expeditionHunter th {	
	border-collapse: collapse;
    border: 1px solid black;
}

#expeditionHunter {
	float: left;
	text-align: center;
	margin-left: 50px;
}

#expeditionHunter td, #expeditionHunter th {	
	padding: 3px;
}

#pits, #pits td, #pits th {	
	border-collapse: collapse;
    border: 1px solid black;
}

#pits {
	float: left;
	text-align: center;
	margin-left: 50px;
}

#pits td, #pits th {	
	padding: 3px;
}

#mammoths {
    border: 1px solid black;
    float: left;
    width: 30%;
}
.mammoth {
	padding: 3px;
	float: left;
	width: 100%;
	text-align: center;
}

.mammoth img {
	float: left;
}
.mammoth p {
	width: 60%;
	float: right;
	margin-right: 10px;
}

#hunters {
    border: 1px solid black;
    float: right;
    width: 30%;	
}

.hunter {
	width: 100%;
}

.hunter img {
	float:left;
}

.hunter div {
	width: 96%;
	height: 70px;
}
.hunterName {
	margin: 0;
	padding-top: 15px;
	float: right;
	text-align: center;
	width: 65%;
	height: 5px;
}
.hunterInfo {
	text-align: center;
	float: right;
	width: 65%;
	height: 20px;
}

#results {
	margin: auto;
	width: 28%;
    border: 1px solid black;
    padding: 1%;
    text-align: center;	
}

h3 {
	margin: auto;
	text-align: center;
	padding: 5px;
}
