#myHunters, #myHunters td, #myHunters th {	
	border-collapse: collapse;
}

#myHunters {
	width: 45%;
	margin: 2.5%;
	text-align: center;
	float: left;
	background-color: #987d5b;
    border-radius: 25px;
}

#myHunters tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #c5a37d;
}

#allHunters, #allHunters td, #allHunters th {	
	border-collapse: collapse;
}

#allHunters {
	background-color: #987d5b;
    border-radius: 25px;
	width: 45%;
	margin: 2.5%;
	text-align: center;
	float: right;
}

#allHunters tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #c5a37d;
}

.heal {
	width: 150px;
	height: 25px;
	visibility: hidden;
	padding-right: 20px;
	padding-top: 4px;
	padding-left: 20px;
	margin-left: 5%;
	margin-top: -25px;
	position: absolute;
	z-index: 10;
	display: block;
	background-color: #765c29;
    border-radius: 25px;
}

.heal a {
	display: block;
	float: right;
	padding-top: 2px;
}

.heal input {
	width: 50px;
	text-align: center;
}

#errorMsg {
	background-color: #c5a37d;
    border-radius: 25px;
	color: red;
	width: 100%;
	height: 20px;
	text-align: center;
}

#hunterDetailImg {
	background-color: #987d5b;
    border-radius: 25px;
    float: left;
	width: 45%;
	text-align: center;
}

#hunterDetailImg img {
	margin: auto;
}

#hunterDetail table {
	border-collapse: collapse;
	width: 45%;
	float: right;
	background-color: #987d5b;
    border-radius: 25px;
}

#hunterDetail td {
	padding-top: 2px;
	padding-bottom: 2px;
}

#hunterDetail tr:nth-child(2n) {
	border-collapse: collapse;
	background-color: #c5a37d;
}

#hunterDetailKills {
	margin-top: 20px;
	text-align: center;
}

#hunterHistory {
	margin-top: 20px;
	text-align: center;
}